* {
    margin: 0 auto;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
    clear: both;
    overflow: hidden;
    scrollbar-gutter: none;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;

}



.bodyquiz {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 30%);


}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.containerquiz {
    width: 400px;
    max-width: 85%;
    background-color: hsl(var(--hue), 100%, 85%);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 0 10px 2px;
    font-size: 28px;
    clear: both;
    position: absolute;
}

.btn2 {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(var(--hue), 100%, 80%);
    color: black;
    padding: 5px 10px;
    border-radius: 16px;
    outline: none;



}

.btn2:hover {
    background-color: black;
    color: hsl(var(--hue), 100%, 80%);
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5px;
    margin: 20px 0;

}

.btn2.correct {
    color: black;
    --hue: var(--hue-correct)
}

.btn2.correct:hover {
    background-color: black;
    color: hsl(var(--hue), 100%, 80%);
}

.btn2.wrong {
    color: black;
    --hue: var(--hue-wrong)
}

.btn2.wrong:hover {
    background-color: black;
    color: hsl(var(--hue), 100%, 80%);
}

.start-btn {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: hsl(var(--hue), 100%, 80%);
    color: black;
    padding: 5px 10px;
    border-radius: 16px;
    outline: none;
}

.start-btn:hover {
    background-color: black;
    color: hsl(var(--hue), 100%, 80%);
}


.controlesquiz {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

/* #quizdown in the middle of the page on the bottom */

#quizdown {
    height: 9.25vh;
    width: 97.8vw;
    clear: both;
    position: relative;
    margin-top: 70vh;
}

#score {
    height: 9.25vh;
    width: 97.8vw;
    position: absolute;
    margin-bottom: 70vh;
    clear: both;
}